.intro_wrapper{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.intro{
    width: 80%;
    border: 10px double black;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 6px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 7px -3px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 7px -3px rgba(0,0,0,0.75);

}

.name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3vmax;
    color: $color-primary;
}

.description{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: black;
    font-size:3.2vmax;
    text-align: justify;

    h1{
        margin: 0;
    }
}

.special{
    display: inline;
    background: black;
    color: white;
    padding: .5vw;
    border-radius: 5px;
    transition: all .7s ease-out;
    cursor: pointer;
    text-decoration: none;

    &:hover{
        font-size:7vmax;
        margin-right: 4.5px;
    }
    
    &:active{
        font-size:6vmax;
        margin-right: 2px;
    }
}




.connect{
    display: inline-block;
    margin-top:1%;

    a{
        display: inline-block;
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: .5vw;
        margin-right: 20px;
        font-size: 4vmin;
        background: black;
        color: white;
        border-radius: 5px;
        transition: all .1s ease-out;
        cursor: pointer;
        text-decoration: none;
        animation-name: appear;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-box-shadow: 6px 6px 7px -3px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: 6px 6px 7px -3px rgba(0, 0, 0, 0.9);
        box-shadow: 6px 6px 7px -3px rgba(0, 0, 0, 0.9);
        
        &:hover{
            font-weight: bolder;
        }
        &:active{
            font-weight: normal;
        }
    }  
}

.click_me_body{
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;

    button{
        outline: none;
        background: transparent;
        border: none;
        color: black;
        cursor: pointer;
        animation-duration: 1s;
        animation-name: move;
        animation-iteration-count: infinite;
    }
    
}
