body{
    margin: 0;
    padding: 0;
    font-size: 10px;
}



.font_righteous {
    font-family: 'Righteous', cursive;
}

.nav{
    position: absolute;
    top: 1%;
    background: transparent;
    width: 100%;
}

.nav-l{
    float: left;
}

.title_wrap{
    margin-left: 5px;
    flex-grow: 1;
}

.title{
    font-size: 3vw;
    color: whitesmoke;
    animation: appear 1s ease-in;
}

canvas {
    position: relative;
    display:block;
    background: rgb(0,0,0);
    position: fixed;
    z-index: -2222;
}



@keyframes appear{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}


.nav-r{
    margin-right: 5px;
    float: right;
}

.link_section{
    display: flex;
    flex-wrap: nowrap !important;
    color: whitesmoke;
}

.item{
    margin: 0 8px;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 1.5vw;
    padding: 3px;
}

.item:hover{
    background-color:whitesmoke;
    color: rgb(33,36,50);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6vw;
}
.intro{
    position: relative;
    display: inline-block;
    min-height: 100vh;
    width: 80%;
    padding: 10px;
    top: 20%;
    margin-left: 10%;
    /* background: blue; */
    transform: translate(-0%, 20%);

}

.name{
    font-family: 'Lato', sans-serif;
    font-size: 3vmax;
    color: rgb(127, 127, 127);
}

.description{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
    font-size:3vmax;
}

.description h1{
    margin: 0;
}

.special{
    display: inline;
    background: white;
    color: black;
    padding: .5vw;
    border-radius: 5px;
    transition: all .7s ease-out;
    cursor: pointer;
    text-decoration: none;
}

.special:hover{
    font-size:6.5vmax;
    margin-right: 5px;
}

.special:active{
    font-size:6vmax;
    margin-right: 2px;
}

html{
    cursor: crosshair;
}

.connect{
    display: inline-block;
    margin-top:  20px;
}

.connect a{
    display: inline-block;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: .5vw;
    margin-right: 20px;
    font-size: 4vmin;
    background: white;
    color: black;
    border-radius: 5px;
    transition: all .1s ease-out;
    cursor: pointer;
    text-decoration: none;
}

.connect a:hover{
    font-weight: bolder;
}
.connect a:active{
    font-weight: normal;
}

.project_body{
    display: block;
    position: relative;
}


.project_image{
display: block;
max-width: 200px !important;
max-height: 200px !important;
}