
@keyframes appear{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}

@keyframes move{
    0%{
        transform: translateY(10px);
    }

    50%{
        transform: translateY(20px);
    }

    100%{
        transform: translateY(10px);
    }

}

@keyframes moveconnect{
    0%{
        transform: translateY(500px);
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }
    

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}