
.skill_wrapper{

    &_title{

    }

    &_icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    &_icon_wrapper{
        min-height:200px;
        min-width: 150px;
        background-color: blue;

        &_icon{
            display: block;
            margin: auto;
            max-width: 80px;
            max-height: 80px;
        }
    }
}