
.skill_wrapper{
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    // background: red;/
    
    &_skills{
        width: 80%;
        // background: green;
        padding: 10px;
    }

    &_title{

    }

    &_icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: .8rem;

        
    }

    &_icon_wrapper{
        height:100px;
        width: 100px;
        background-color: blue;
        vertical-align: middle;
        padding: 20px;
        border-radius: 50%;

        &_icon{
            display: block;
            margin: auto;
            max-width: 80px;
            max-height: 80px;
        }
    }
}