.project_body {
    display: inline-block;
    position: relative;
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
}


.project_image{
    display: block;
    width: 40vw;
    min-height: 500px;
}

.text{
    display: block;
    transition: all .2s ease;
    opacity: 0;
}
.project_image:hover .text{
    opacity: 1 !important;
}

.project_title h1{
    color: black;
    font-size: 4vmax;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 100;
}

.project_name{
    color:rgb(127, 127, 127);
    font-family: 'Roboto Slab', serif;
    font-size: 3vmax;
    margin-top: 10px;
    margin-bottom: 20px;
}

.project_picture{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    max-width: 700px;
    max-height: 400px;
}
