@import './variables/variables';
@import './mixins/mixins';
@import './components/Introduction/intro';
@import './animations/animations';
/*====================
        GLOBAL
======================*/

body{
    margin: 0;
    padding: 0;
    font-size: 10px;
    // margin-bottom: 50px;
    background:white;
}


.font_righteous {
    font-family: 'Righteous', cursive;
}

html{
    cursor: crosshair;
}


/*====================
        NAVIGATION
======================*/

.nav{
    position: absolute;
    top: 1%;
    background: transparent;
    width: 100%;
}

.nav-l{
    float: left;
}

.title_wrap{
    margin-left: 5px;
    flex-grow: 1;
}

.title{
    font-size: 3vw;
    color: black;
    animation: appear 1s ease-in;
}

.nav-r{
    margin-right: 5px;
    float: right;
}

.link_section{
    display: flex;
    flex-wrap: nowrap !important;
    color: whitesmoke;
}

.item{
    margin: 0 8px;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 1.5vw;
    padding: 3px;
}

.item:hover{
    background-color:whitesmoke;
    color: rgb(33,36,50);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6vw;
}



/*====================
       INTRODUCTION
======================*/


/*====================
       PROJECTS
======================*/

.project_body {
    display: inline-block;
    position: relative;
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
}


.project_image{
    display: block;
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius: 2px;
    z-index: -9999;
}

.text{
    display: block;
    transition: all .2s ease;
    opacity: 0;
}
.project_image:hover .text{
    opacity: 1 !important;
}

.project_title h1{
    color: white;
    font-size: 4vmax;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 100;
}

.project_name{
    color:rgb(127, 127, 127);
    font-family: 'Roboto Slab', serif;
    font-size: 3vmax;
    margin-top: 10px;
    margin-bottom: 20px;
}

.project_picture{
    max-width: 900px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}



/*====================
       ANIMATIONS
======================*/




